{
    # config file version
    "config_version" : "1.0"

    # onem2m configuration
    "onem2m" : {
        #configuration files
        "cse_ip" : "dev-onem2m.iiit.ac.in",
        "cse_port" : "443",
        "https" : "false",
        "verify" : "true",

        #node details 
        "in" : "/~/in-cse/in-name/",
        "mn" : "None",
        "ae" : "ThingSpeak-1654489",
        "ae_lbl" : "thingSpeak-1654489-channel",
        "mn_lbl" : "",
        "api" : "ThingSpeak-1654489",
        "acpi" : "/in-cse/acp-292007947" ,
        "mni" : "120",      
    },

    #nodes 
    nodes : {
        "node_0": {
            "name" : "Channel-1654489",
            "label" : [
            "1654489",
            "ThingSpeak-1654489",
            "V1.0",
            ],

            #node descriptor
            "descriptor": {
                "Node Id" :  "Channel-1654489",

            },
        },
    },

    #data containers
    "data_containers" : {
        "comma_seperated" : {
            "name"  : "Data",
            "label" : ["distanceInInch", "distanceInMeter", "distanceInCentimeter"],
        },
    },

    #thing speak data

    "thingspeak" : {
        "topic" : "channels/1654489/subscribe",
        "client_id" : "PSIVFyMDFjEwNjoXMiEiKQQ",
        "username" : "PSIVFyMDFjEwNjoXMiEiKQQ",
        "password" : "paGEDytVnkcb+LVwRGhmsOLz",
        "port" : "1883" ,
        "broker" : "mqtt3.thingspeak.com",
    },
}