{
    # config file version
    "config_version" : "1.0"

    # onem2m configuration- Replace with your OWN
    "onem2m" : {
        #configuration files
        "cse_ip" : "A-VALID-URL",
        "cse_port" : "443",
        "https" : "false",
        "verify" : "true",

        #node details 
        "in" : "/~/in-cse/in-name/",
        "mn" : "None",
        "ae" : "AE_NAME",
        "ae_lbl" : "CHANNEL-NAME",
        "mn_lbl" : "",
        "api" : "API",
        "acpi" : "ACPI" ,
        "mni" : "120",      
    },

    #nodes 
    nodes : {
        "node_0": {
            "name" : "NAME-XXXXX",
            "label" : [
            "XXXXXXX",
            "XXXXXXXXX",
            "V1.0",
            ],

            #node descriptor
            "descriptor": {
                "Node Id" :  "ID-XXXXXX",

            },
        },
    },

    #data containers
    "data_containers" : {
        "comma_seperated" : {
            "name"  : "Data",
            "label" : ["distanceInInch", "distanceInMeter", "distanceInCentimeter"],
        },
    },

    #thing speak data

    "thingspeak" : {
        "topic" : "XXXXXXXXXXXXXXXXX",
        "client_id" : "XXXXXXXXXXXXXXXXX",
        "username" : "XXXXXXXXXXXXXXXXX",
        "password" : "XXXXXXXXXXXXXXXXX",
        "port" : "1883" ,
        "broker" : "mqtt3.thingspeak.com",
    },
}
